<!Doctype>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <div class="email-body">
    <h1> Hey </h1>
    <h2> Today's summary is as follows: </h2>
    <ul>
      <li><%= @survey_results[0] %> Successful Posts</li>
      <li><%= @survey_results[1] %> Unsuccessful Posts</li>
      <li><%= @survey_results[2] %> Total Surveys still lacking VanIds</li>
    </ul>

    <h3> See you next time with VAN CSV_Uploader! </h3>
  </div>
</body>
</html>
