<button>
  <%= link_to 'Sign Up', new_user_path %>
</button>
<button>
  <%= link_to 'Sign In', login_path %>
</button>

<%= react_component("HomeMessage", props: {text: 'Hey you did it! Your first react component!'}, prerender: true) %>

<%= react_component("Accept", prerender: true) %>
